// Bootstrap Variables
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Theme variables
@import "variables";

// User Variables
@import "user-variables";


// Bootstrap Configuration
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Layout & Content
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";

// Components
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
@import "bootstrap/scss/card";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/modal";
@import "bootstrap/scss/offcanvas";

// Helpers
@import "bootstrap/scss/helpers";

@import "tiny-slider/dist/tiny-slider.css";

// Bootstrap core
// Bootstrap core (Modularized above)

// Extended bootstrap utilities
@import "custom/utilities";
@import "bootstrap/scss/utilities/api";

// Extended Bootstrap components
@import "custom/breadcrumb";
@import "custom/dropdowns";
@import "custom/navbar";
@import "custom/nav";
@import "custom/buttons";
@import "custom/list-group";
@import "custom/tab";
@import "custom/type";
@import "custom/progress";
@import "custom/reboot";

// Theme Core CSS
@import "core/general";
@import "core/utilities";
@import "core/header";
@import "core/footer";
@import "core/portfolio";
@import "core/blog";

// Theme Components 
@import "components/accordion";
@import "components/feature-box";
@import "components/pricing";
@import "components/testimonials";
@import "components/overlay";
@import "components/process";
@import "components/blockquote";
@import "components/divider";
@import "components/social-icons";
@import "components/team";
@import "components/tiny-slider";

// In this scss you can write your scss
@import "user";


// animate.css
@import "animate.css/animate.min.css";

// Icons

@import "icons/font-awesome/all.min.css";

.typist-cursor {
  // font-size: 16px;
  color: #000 !important;
}